<!doctype html>

<head>
    <title>2018 Movie Search</title>
</head>
<body>
<h1><strong>2018 Film Search</strong></h1>
<hr />
<form action="results/1" name="search" method="post" style="text-align: center;margin-top: 100px">

    <span>Query:</span>
    <input type="text" name="query" size=30>
    <!--<span>Director:</span>-->
    <!--<input type="text" name="director" size=30>-->
    <!--<span>Starring:</span>-->
    <!--<input type="text" name="starring" size=30>-->
    <!--<span>Location:</span>-->
    <!--<input type="text" name="location" size=30>-->
    <input type="submit" value="Search" style="font-size: 30px">
</form>


</body>
